<h1>TEAM ASSEMBLE!</h1>

<h2>WE ARE <%=@team[:name]%></h2>
<h3>Team Motto: <%=@team[:motto]%></h3>
  <h3>Hero Name: <%=@team[:members][][name]%></h3>
    <p><%=@team[:members][][:power]%></p>
    <p><%=@team[:members][][:bio]%></p>
