<h1>TEAM ASSEMBLE!</h1>

<h2>WE ARE <%=@team[:name]%></h2>
  <h3><%=@team[members][][name]%></h3>
  <h3><%=@team[members][][power]%></h3>
  <h3><%=@team[members][][bio]%></h3>
  <h3><%=@team[members][][name]%></h3>
  <h3><%=@team[members][][power]%></h3>
  <h3><%=@team[members][][bio]%></h3>
  <h3><%=@team[members][][name]%></h3>
  <h3><%=@team[members][][power]%></h3>
  <h3><%=@team[members][][bio]%></h3>
